// * A partial is a Sass file named with a leading underscore
// * It is not generated into a CSS file
// * uses @use rule
// * Useful for snippets you can include in other Sass files

// * Variables
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}