@use 'base';
@use 'extend';
@use 'mixins';

.inverse {
    background-color: base.$primary-color;
    color: white;
}

.inverse-red {
    background-color: base.$primary-color;
    color: red;
}

// * Nesting
nav {
   ol {
    margin: 0;
    padding: 0;
    list-style: none;
   } 

   li { display: inline-block;}

   a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
   }
}