@use 'base';
@use 'extend';
@use 'mixins';
@use "sass:math";

.inverse {
    background-color: base.$primary-color;
    color: white;
}

.inverse-red {
    background-color: base.$primary-color;
    color: red;
}

// * Nesting
nav {
   ol {
    margin: 0;
    padding: 0;
    list-style: none;
   } 

   li { display: inline-block;}

   a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
   }
}

// * Operators
.container {
    display: flex;
}

article[role="main"] {
    width: math.div(600px, 960px) * 100%;
}

aside[role="complementary"] {
    width: math.div(300px, 960px) * 100%;
    margin-left: auto;
}